.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* display: flex; */
  padding: 0 19px;
  display: none;
}

.modal__opened {
  display: flex;
}

.modal__container {
  max-width: 430px;
  position: relative;
  color: black;
  background-color: white;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.modal__closed {
  display: none;
}

.modal__form {
  width: 358px;
  display: grid;
  gap: 30px;
}

.modal__heading {
  max-width: 330px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 29.05px;
  font-size: 24px;
  margin-bottom: 54px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  height: 47px;
}

.modal__button {
  color: white;
  background-color: black;
  cursor: pointer;
  margin-top: 18px;
  height: 50.15px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
  }

  .modal__form {
    max-width: 238px;
  }

  .modal__heading {
    margin-bottom: 75px;
    font-size: 18px;
  }

  .modal__button {
    height: 46px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
  }

  input[type="text"] {
    height: 27px;
  }
}
